.dnd5e.sheet .item-buttons button {
  font-size: 10px;
  line-height: 12px;
  margin: 0;
}

.dnd5e.sheet .item-buttons span {
  padding: 0;
}

.local-qol-flavor-text {
  font-size: 12px
}

.dice-total.dmgBtn-mqol {
  transition: color 0.2s ease-in-out 0.7s;
}

.dice-total.dmgBtn-mqol:hover {
  color: transparent;
  transition: color 0.2s ease-in-out 0s;
}

.dmgBtn-container-mqol {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  z-index: 1;
}

.dmgBtn-container-mqol button {
  height: 100% !important;
  margin: 1px !important;
  padding: 0;
}

.dmgBtn-container-mqol button > i {
  font-weight: bold;
  margin: 0;
}

.dmgBtn-container-mqol .dice-total-full-button {
  margin-left: 0 !important;
}

.dmgBtn-container-mqol .dice-total-half-button,
.dmgBtn-container-mqol .dice-total-double-button,
.dmgBtn-container-mqol .dice-quarter-button
{
  font-size: 0.8em !important;
}

.dmgBtn-container-mqol .dice-total-double-button {
  font-size: 0.8em !important;
  margin-right: 10px !important;
}

.dmgBtn-container-mqol .dice-total-full-healing-button {
  margin-right: 0 !important;
  margin-left: 10px !important;
}

.column-button-container-mqol {
  text-align: left;
  left: 0;
  right: 0;
  top: -5px;
  bottom: 4px;
  padding: 0 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  flex-direction: column;
}

.dmgBtn-container-mqol {
  display: flex !important;
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0.7s;
}

.dmgBtn-container-mqol:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0s;
}

.midi-qol-enable-damage-button {
  color: green
}
.midi-qol-disable-damage-button {
  color: red
}
.xdice-total-full-damage-button,
.xdice-total-half-damage-button,
.xdice-total-double-damage-button,
.xdice-total-full-damage-healing-button
{
  width: 20%;
  height:80%;
  font-size:24px;
  line-height:8px;
  background-color: 0xffffff;
  color:white;
}

.midi-qol-flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
}
.midi-qol-bigger-text {
  font-size: 14px;
  line-height: 16px;
}

.midi-qol-flex-container > div {
  margin: 2px;
}
.midi-qol-target-name:hover {
  text-shadow: 0 0 4px red;
}
.midi-qol-gmonly {
  display: none;
}

.midi-qol-box {
  border: 2px groove #eeede0;
  padding: 3px;
}
.midi-qol-nobox {
  padding: 5px;
  border-top: 2px groove #eeede0;
}

.midi-qol-faint {
  color: #606060;
}

.midi-qol-very-faint {
  color: #A0A0A0;
}

#midi-qol-item-selector .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.midi-qol-tooltip {
  position: relative;
  display: inline-block;
  border: 0px;
  padding: 0px;
}

.midi-qol-tooltip .midi-qol-tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px 8px ;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.midi-qol-tooltip:hover .midi-qol-tooltiptext {
  visibility: visible;
}

/* ----------------------------------------- */
/* Dialog Window
/* ----------------------------------------- */
.midi-qol .dialog .dialog-content .dialog-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-around;
}

.midi-qol .dialog .dialog-buttons button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #f0f0e0;
  margin: 0 5px 0 0;
}
.midi-qol .dialog .dialog-buttons button:last-child {
  margin-right: 0;
}
.midi-qol .dialog .dialog-buttons button.default {
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #c9c7b8;
}


/* ----------------------------------------- */
/* On Use Macros
/* ----------------------------------------- */
.column-dialog .column-dialog-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: left;
}
.column-dialog .column-dialog-buttons > * {
  flex: 1;
}
.column-dialog .column-dialog-buttons > .flex0 {
  display: block;
  flex: 0;
}
.column-dialog .column-dialog-buttons > .flex1 {
  flex: 1;
}
.column-dialog .column-dialog-buttons > .flex2 {
  flex: 2;
}
.column-dialog .column-dialog-buttons > .flex3 {
  flex: 3;
}
.column-dialog .column-dialog-buttons button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove var(--color-border-light-highlight);
  margin: 0 5px 0 0;
}
.column-dialog .column-dialog-buttons button:last-child {
  margin-right: 0;
}
.column-dialog .column-dialog-buttons button.default {
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--color-border-light-secondary);
}

/* ----------------------------------------- */
/* midi-trouble-shooter
/* ----------------------------------------- */
.trouble-shooter-action-label:hover {
  text-shadow: 0 0 4px red;
}
.midi-trouble-shooter .contents .scrollable {
  flex: 1;
  overflow: hidden auto;
}
/*
.midi-trouble-shooter .window-content > div {
  height: 90%;
  flex-wrap: nowrap;
}


.midi-trouble-shooter .contents footer {
  flex: 0;
}
*/

.midi-qol-blind-select .selected{
  background-color: #861b1b;
  color: #fff;
}

.midi-qol .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    width: 300; /* You can adjust the width as needed */
}

.midi-qol .grid-item {
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.midi-qol .grid-item.selected {
    background-color: green;
}

.midi-scrollable-list {
  list-style: none;
  margin: 0.5em 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid var(--color-border-dark-5);
  border-radius: 2px;
  max-height: 600px;
  overflow: hidden auto;
  scrollbar-width: thin;
}

.dice-result .midi-dice-tooltip {
  flex: auto;
  order: unset;
  display: block;
  overflow: hidden;
  transition: all 250ms ease;
}
.dice-result .midi-dice-tooltip .tooltip-part {
  border-bottom: 1px solid var(--color-border-light-1);
  padding: 0.125rem 0;
}
.dice-result .midi-dice-tooltip .tooltip-part:last-child {
  border: none;
  padding-bottom: 0;
}
.dice-result .midi-dice-tooltip .tooltip-part.constant {
  padding-right: 6px;
  min-height: 40px;
  display: grid;
}
.dice-result .midi-dice-tooltip .dice {
  display: flex;
  align-items: center;
}
.dice-result .midi-dice-tooltip .dice .dice-rolls {
  flex: 1;
  margin: 5px 0 5px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}
.dice-result .midi-dice-tooltip .dice .dice-rolls .roll {
  position: unset;
  float: unset;
  margin: 0;
}
.dice-result .midi-dice-tooltip .dice .dice-rolls .constant {
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: var(--font-size-18);
  margin-left: 0.25rem;
}
.dice-result .midi-dice-tooltip .dice .dice-rolls .constant .sign {
  font-weight: normal;
  color: var(--color-text-light-6);
  margin-right: 2px;
}
.dice-result .midi-dice-tooltip .dice .total {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.dice-result .midi-dice-tooltip .dice .total > img {
  top: 6px;
  position: absolute;
  width: 32px;
  border: none;
  opacity: 0.1;
}
.dice-result .midi-dice-tooltip .dice .total .label {
  font-family: var(--dnd5e-font-roboto-condensed);
  font-size: var(--font-size-10);
  color: var(--color-text-dark-5);
  text-transform: uppercase;
  text-align: center;
}
.dice-result .midi-dice-tooltip .dice .total .value {
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: var(--font-size-20);
}
.dice-result .midi-dice-tooltip .dice .total .sign {
  color: var(--color-text-light-6);
  font-weight: normal;
  margin-right: 2px;
}
.dice-result .dice-total {
  font-weight: bold;
  font-size: var(--font-size-20);
  padding: 0.125rem;
  margin-top: 0.25rem;
  font-family: var(--font-primary);
  position: relative;
}
.midi-bonus-damage-flavor {
  text-align: center;
}
.dnd5e2 .midi-buttons button {
  background: var(--dnd5e-color-card);
  font-family: var(--dnd5e-font-roboto);
  font-weight: bold;
  font-size: var(--font-size-11);
  text-transform: uppercase;
  padding: 0.05rem;
  border: 1px solid var(--color-border-light-2);
  box-shadow: 0 0 8px var(--dnd5e-shadow-15);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
}

.dnd5e2.chat-card.midi-chat-card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  /* Effects Tray */
}
.dnd5e.chat-card.midi-chat-card .card-buttons {
  margin: 2px 0;
  height: 18px;
  line-height: 14px;
}

.dnd5e.chat-card.midi-chat-card.card-buttons button {
  color: red;
  font-size: var(--font-size-12);
  height: 18px;
  line-height: 12px;
  margin: 2px 0;
}
.dnd5e.chat-card.midi-chat-card .card-buttons span {
  display: block;
  line-height: 18px;
  text-align: center;
  border: 1px solid var(--dnd5e-border-light);
}

:is(.chat-popout, #chat-log) .message .dnd5e2.evaluation .midi-qol.target > img {
  width: 22px !important;
  height: 22px !important;
  object-fit: cover;
  object-position: top;
  margin: 0px 0 !important;
  border-radius: 100%;
  border: 1px solid var(--dnd5e-color-gold) !important;
  box-shadow: 0 0 2px var(--dnd5e-shadow-45) !important;
  background: var(--dnd5e-color-light-gray);
}

/* CHAT - DND5E 3 AND MIDI */

/* Condensed Item description */
.midi-chat-card .card-header {
  padding: 0.25rem !important;
  margin: 0 !important;
}

/* Condensed hits, misses and saves evaluation */
.midi-chat-card .dnd5e2.evaluation:has(>div) {
  font-size: 14px;
  gap: 0 !important;
  border: 1px solid #686868;
  margin: 0.25rem 0 !important;
}

.midi-chat-card .midi-qol.target.hit,
.midi-qol.target.miss {
  border-radius: 0 !important;
  border: none !important;
  padding: 0.25rem !important;
}

.midi-chat-card .midi-qol-saves-display {
  margin-top: 4px;
}

/* Condensed footer pills */
.midi-chat-card .card-footer.pills.unlist li.pill.pill-sm {
  font-size: 9px;
}

.midi-chat-card .card-footer.pills.unlist {
  gap: 0.15em;
}

/* Midi Attack and Damage buttons */
.midi-chat-card .card-buttons.midi-buttons {
  gap: 0.25rem;
}

.midi-chat-card .midi-qol-attack-buttons button,
.midi-chat-card .midi-qol-damage-buttons button {
  height: 1.5rem;
  margin: 0;
}

/* Condensed merge card cleanup */
.midi-chat-card .midi-qol-attack-roll>div:first-child,
.midi-chat-card .midi-qol-damage-roll>div:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.midi-chat-card .midi-results .flexrow {
  gap: 1px;
}

.midi-chat-card .midi-results .flexrow>div {
  flex: 1;
  max-width: 50%;
  box-sizing: border-box;
}

/* Midi Damage application card (tested with DnD5E damage application OFF)  */

.chat-message.message.flexcol.whisper:has(.xmidi-qol-flex-container) {
  padding: 0 !important;
  /* this will merge the damage card with the above message
  margin-top: -0.4rem !important; /* Merges the card with the above message  
	border-top-left-radius: 0px !important; /* Merges the card with the above message  
	border-top-right-radius: 0px !important; /* Merges the card with the above message  
  */
  border-color: black !important;
  /* If you have DF Chat Enhancements, remove this to make the border DM-colored instead */
  background-color: #d8d8d8 !important;
}

/* Hides the header  */
.chat-message.message.flexcol.whisper:has(.xmidi-qol-flex-container) .message-header {
  display: none;
}

/* row colors */
.xmidi-qol-flex-container table tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.5);
}

.xmidi-qol-flex-container table tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}

.xmidi-qol-flex-container table tbody tr:hover {
  background-color: rgba(150, 150, 200, 0.2);
}

/* Table Adjustments */

.xmidi-qol-flex-container thead th {
  line-height: 1.5;
  padding: 4px;
  text-align: center;
}


.xmidi-qol-flex-container table {
  margin: 0;
  border: none;
}

.xmidi-qol-flex-container td {
  font-size: 14px;
  padding: 4px;
  line-height: normal;
}

.xmidi-qol-flex-container td:first-child {
  display: flex;
  align-items: center;
  padding: 4px;
}

.xmidi-qol-flex-container .midi-qol-tooltip>span>div {
  line-height: 1.5;
}

.xmidi-qol-flex-container .midi-qol-target-name {
  width: 28px;
  height: 28px;
  margin-right: 4px;
  vertical-align: middle;
  height: 28px;
}

.xmidi-qol-flex-container tfoot td:first-child {
  margin-left: 4px;
}

/* Select and buttons */
.xmidi-qol-flex-container select,
.xmidi-qol-flex-container button {
  border-radius: 0;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
}

